div.album
{
	margin: 10px 10px 10px 0;
	padding: 3px;
	border: 1px solid white;
	background-color: white;
	box-shadow: 5px 5px 5px #888888;
	width: 350px;
	height: 250px;
	float: left;
	cursor: pointer;
}

img.albumimg
{
	width: 100%;
	height: 100%;
	background-color: white;
}

div.albumcontrollers
{
	margin: 0;
	z-index: 999;
	position: relative;
	top: -80px;
	background-image: url(/Static/images/albumback.png);
	height: 76px;
	cursor: default;
}

button.albumbutton, .holder
{
	float: right;
	width: 80px;
	-webkit-border-radius: 5px;
	outline: none;
}

button.albumbutton:active, .holder:active, button.albumbutton:focus, .holder:focus
{
	outline: none;
}

p.albumcap
{
	clear: both;
	width: 95%;
	font-weight: bold;
	font-size: 110%;
	padding-left: 10px;
	color: #333333;
}