#header
{
	background-image: url("/Static/images/back.png");
	background-repeat: repeat-x;
	color: white;
	height: 85px;
	margin: 0;
}

.content, #albums
{
	max-width: 1110px;
	height: 500px;
	margin: auto;
	padding-left: 10px;
}

#header a
{
	text-decoration: none;
	color: magenta;
}

#header #title
{
	font-size: 200%;
	font-weight: bold; 
	color: magenta;
	float: left;
	padding-top: 20px;
}

#header ul
{
	float: right;
	padding-top: 10px;
	font-size: 120%;
	list-style: none;
}

#header li
{
	list-style-type: none;
	display: inline;
	margin-right: 30px;
	float: left;
	cursor: pointer;
}

#header li a
{
	color: white;
	display: block;
}

#header li a:hover
{
	color: #FF99FF;
}

#optionslist ul
{
	position: absolute;
    display: none;
	width: 130px;
	z-index: 999;
}

#optionslist li:hover ul {
    display: block;
	background-image: url("/Static/images/listback.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #0e0e0e;
	font-size: 100%;
	padding: 0;
	margin: 0;
}

#optionslist li:hover ul li:first-child
{
	margin-top: 20px;
}

#optionslist li:hover ul li
{
	width: 100%;
	padding: 10px 0 5px 10px;
}

li span
{
	font-size: 60%;
}