body
{
	font-family: Helvetica, Verdana, Sans-serif;
	margin: auto;
	background-image: url("/Static/images/bodyback.png");
	background-repeat: no-repeat;
	background-size: 100% 50%;
	background-color: #f0f0f0;
	min-width: 800px;
}

.content
{
	max-width: 1000px;
	height: 500px;
	margin: auto;
	padding-left: 10px;
	position: relative;
}

input[type="submit"]
{
	cursor: pointer;
	outline: none;
}

#header
{
	background-image: url("/Static/images/back.png");
	background-repeat: repeat-x;
	color: white;
	height: 85px;
	margin: 0;
}

#title
{
	float: left;
	padding-top: 20px;
}

#title a
{
	font-size: 200%;
	font-weight: bold; 
	color: magenta;
	text-decoration: none;
}

#logintable
{
	float: right;
	font-size: 70%;
	padding-top: 10px;
}

#logintable input
{
	margin: 0;
	padding: 2px; 
	border: 1px solid #ccc; 
	-webkit-border-radius: 4px;
	border-radius: 3px;
}

#logintable input[type="submit"]
{
	background-color: darkmagenta;
	color: white;
	border-color: black;
	padding: 3px 10px;
	font-weight: bold;
}

#logintable a
{
	color: darkmagenta;
}

h1
{
	margin: 30px 0;
}

#slideshow
{
	float: left;
	padding: 5px;
	background-color: white;
	box-shadow: 5px 5px 5px #888888;
	width: 60%;
	height: 375px;
	position: relative;
}

.above
{
	width: 100%;
	height: 100%;
}

.below
{
	position: absolute;
	width: 98.5%;
	height: 98%;
	top: 4px;
}

#reg
{
	float: right;
	width: 35%;
	margin: 0;
	position: relative;
	top: -70px;
}

#reg form p
{
	margin: 0 0 5px 0;
}

#reg input 
{
	width: 100%;
	height: 30px;
	padding: 5px 0 5px 5px; 
	border: 2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 10px;
	font-size: 120%;
}

#reg input[type="submit"]
{
	width: 130px;
	height: 45px;
	margin-top: 50px;
	background-color: darkmagenta;
	border-color: darkmagenta;
	color: white;
	font-weight: bold;
	font-size: 120%;
	float: left;
}

#fblogin
{
	width: 130px;
	margin-top: 50px;
	float: right;
}

#fblogin img
{
	width: 100%;
}

.helptext
{
	display: none;
}

.messages
{
	margin: 0;
	padding: 0;
}

.error
{
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
	font-weight: bold;
	font-size: 120%;
	color: red;
}

.errorlist
{
	margin: 0 32px 0 0;
	padding: 0;
	list-style: none;
	color: red;
	font-weight: bold;
	text-align: right;
	float: right;
}

.success
{
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
	font-weight: bold;
	font-size: 120%;
	color: darkmagenta;
}

#taken
{
	opacity: 0;
	color: red;
}

