#toppanel0, #bottompanel0, #allpanel0, #toppanel1, #bottompanel1, #allpanel1
{
	clear: both;
	width: 95%;
}

#leftpanel0, #rightpanel0, #leftpanel1, #rightpanel1
{
	width: 44%;
}

#leftpanel0, #leftpanel1
{
	float: left;
}

#rightpanel0, #rightpanel1
{
	float: right;
}

#allpanel0, #allpanel1
{
	height: 95%;
}