{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>Create your photoalbum!</title>
		<link rel="stylesheet" href="{% static 'editstyle.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'headerstyle.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'layoutstyle.css' %}" type="text/css" />
		<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/vader/jquery-ui.css" rel="stylesheet">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
		<script src="{% static 'edit.js' %}"></script>
		<script>
			{% if album %}
				jsonlayouts = {{layouts|safe}};
				jsonimages = {{images|safe}};
			{% endif %}
		</script>
	</head>
	<body>
		{% include "header.html" %}
		<div id="titlecontainer">
			<form method="POST" action="{% url 'PhotoAlbum.views.save' %}" onsubmit="return save_album()">{% csrf_token %}
				<label for="albumtitle">Title:</label>
				<input id="albumtitle" name="title" type="text" placeholder="New Album" value="{{album.title}}"/>
				{% if album.public == True %}
					<input type="checkbox" name="public" value="public" checked>Public
				{% else %}
					<input type="checkbox" name="public" value="public">Public
				{% endif %}
				<input id="savealbum" type="submit" value="Save Album" />
				<input type="hidden" id="layouts" name="layouts" />
				<input type="hidden" id="images" name="images" value="" />
				<input type="hidden" id="albumid" name="albumid" value="{{album.id}}" />
			</form>
		</div>
		<div id="albumcontent">
			<div id="leftcontroller">
				<img class="move" id="leftmove" alt="back" src="{% static 'images/backicon.png' %}" onclick="moveleft()" />
				<img class="deletelayout" alt="deletelayout" src="{% static 'images/deletelayout.png' %}" onclick="deletelayout(0)" />
			</div>
			<div id="leftpage" ></div>
			<div id="rightcontroller">
				<img class="addpage" alt="addpage" id="addpage" src="{% static 'images/addpage.png' %}" onclick="newpage()" />
				<img class="move" id="rightmove" alt="forward" src="{% static 'images/nexticon.png' %}" onclick="moveright()" />
				<img class="deletelayout" alt="deletelayout" src="{% static 'images/deletelayout.png' %}" onclick="deletelayout(1)" />
			</div>
			<div id="rightpage" ></div>
		</div>
		<div id="pagecounter"></div>
		<div id="selectlayout" title="Select a layout">
			<input name="layoutselect" type="radio" value="1" id="dialog1" class="dialogimages" ><label for="dialog1"><img alt="layout1" src="{% static 'images/layout1.png' %}"></label>
			<input name="layoutselect" type="radio" value="2" id="dialog2" class="dialogimages" ><label for="dialog2"><img alt="layout2" src="{% static 'images/layout2.png' %}"></label>
			<input name="layoutselect" type="radio" value="3" id="dialog3" class="dialogimages" ><label for="dialog3"><img alt="layout3" src="{% static 'images/layout3.png' %}"></label>
			<input name="layoutselect" type="radio" value="4" id="dialog4" class="dialogimages" ><label for="dialog4"><img alt="layout4" src="{% static 'images/layout4.png' %}"></label>
		</div>
		<div id="uploadpic" title="Add image url">
			<input type="text" id="picurl" name="picurl" placeholder="http://">
			<input type="text" id="piccaption" name="piccaption" placeholder="Caption">
		</div>
	</body>
</html>