{% block content %}
<div id="header">
	<div class="content">
		<div id="title"><a href="{% url 'PhotoAlbum.views.home' %}">MOMENTS</a></div>
		<ul id="optionslist">
			<li><a href="{% url 'PhotoAlbum.views.home' %}">Albums</a> </li>		<!--TODO href with python-->
			<li><a href="{% url 'PhotoAlbum.views.explore' %}">Explore</a> </li>
			<li>{{username}} <span>&#9660;</span>
				<ul>
					<li><a href="">Settings</a></li>
					<li><a href="{% url 'PhotoAlbum.views.logout' %}">Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
{% endblock %}
