{% extends "index.html" %}

{% block content %}

     {% if form.errors %} 
         <p class="error"> Sorry, username or password isn't valid </p>
     {% endif %}
     
     <form method="POST" action="/account/auth"> {% csrf_token %}
				<table id="logintable">
					<tr>
						<td> <label for="loginname">Username</label> </td>
						<td> <label for="loginpasswd">Password</label> </td>
						<td> </td>
					</tr>
					<tr>
						<td> <input id="loginname" type="text"> </td>
						<td> <input id="loginpasswd" type="password"> </td>
						<td> <input type="submit" value="Sign In" class="button"> </td>
					</tr>
					<tr>
						<td> <input type="checkbox" id="keep"> <label for="keep">Keep me logged in</label> </td>
						<td> <a href="">Forgot password</a> </td>
						<td> </td>
					</tr>
				</table>
			</form>
{% endblock %}