{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>Account settings</title>
		<link rel="stylesheet" href="{% static 'homestyle.css' %}" type="text/css" >
		<link rel="stylesheet" href="{% static 'headerstyle.css' %}" type="text/css" >
		<link rel="stylesheet" href="{% static 'albumstyle.css' %}" type="text/css" >
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{% static 'albumcap.js' %}"></script>
	</head>
	<body>
		{% include "header.html" %}
		
		<div id="albums">
			<h1>Account settings</h1>
			<h2>Ordered albums</h2>
			{% if payments %}
			<table>
				<tr>
					<th>Album link</th>
					<th>Date</th>
					<th>Price</th>
				</tr>
				<!-- TODO  -->
				{% for p in payments %}
				<tr>
					<td><!-- how to get the album link? --></td>
					<td>{{p.date}}</td>
					<td>{{p.price}}</td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			<p>You have not purchased albums yet!</p>
			{% endif %}
		</div>
	</body>
</html>