#toppanel
{
	width: 95%;
	height: 60%;
	margin: 10px;
	background-color: yellow;
}

#leftpanel, #rightpanel
{
	background-color: blue;
	width: 46%;
	height: 34%;
	position: relative;
	top: -180px;
}

#leftpanel
{
	clear: left;
	float: left;
	margin: 0 5px 0 10px;
}

#rightpanel
{
	float: right;
	margin: 0 10px 0 5px;
}