{% load staticfiles %}
<!DOCTYPE html>
<!-- order details confirmation page -->
<html>
	<head>
		<title>Moments - Order Confirm</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static 'headerstyle.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'detailsstyle.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'albumstyle.css' %}" type="text/css" />
		<link rel="shortcut icon" href="{% static 'images/logo.png' %}">
	</head>
	<body>
		{% include "header.html" %}
		<div class="content">
			<h1>Order Summary</h1>
			<!-- the form sends the data to the simple payment site -->
			<form method="POST" action="http://payments.webcourse.niksula.hut.fi/pay/" >
				<!-- all the necessary information is in hidden fields -->
				<input type="hidden" name="pid" value="{{ pid }}" />
				<input type="hidden" name="sid" value="{{ sid }}" />
				<input type="hidden" name="success_url" value="http://moments-app.herokuapp.com{% url 'PhotoAlbum.views.success' %}" />
				<input type="hidden" name="cancel_url" value="http://moments-app.herokuapp.com{% url 'PhotoAlbum.views.home' %}" />
				<input type="hidden" name="error_url" value="http://moments-app.herokuapp.com{% url 'PhotoAlbum.views.home' %}"/>
				<input type="hidden" name="checksum" value="{{ checksum }}" />
				<input type="hidden" id="id_amount" name="amount" value="{{ session.sum }}" /> 
				<!-- lists the information of the buyer, which was given on the details pages -->
				<table id="reviewtable">
					<tr>
						<td class="text"> <p>Full name</p> </td>
						<td> <p id="full_name"> {{ session.name }} </p> </td>
					</tr>
					<tr>
						<td class="text"> <p>Country</p>  </td>
						<td> <p id="country"> {{ session.country }} </p> </td>
					</tr>
					<tr>
						<td class="text"> <p>Post Code</p> </td>
						<td> <p id="post_code"> {{ session.postcode }} </p> </td>
					</tr>
					<tr>
						<td class="text"> <p>Address</p> </td>
						<td> <p id="address"> {{ session.address }} </p> </td>
					</tr>
					<tr>
						<td class="text"> <p>Quantity</p> </td>
						<td> <p id="quantity"> {{ session.quantity }} </p> </td>
					</tr>
					<tr>
						<td class="text"> <p>E-mail</p> </td>
						<td> <p id="mail"> {{ session.mail }} </p> </td>
					</tr>
					<tr>
						<td class="text"> <label>Summary</label> </td>
						<td> <p>{{ session.sum }}</p></td>
					</tr>
				</table>
				<input type="button" id="backbutton" value="<< Back" onclick="window.history.back()"/>
				<input type="submit" id="orderalbum" value="Order Album" />
			</form>
			<div id="albumpreview">
				<h2>Preview</h2>
				{% include "publicalbum.html" with actalbum=album %}
			</div>
		</div>
	</body>
</html>