{% load staticfiles %}
<!DOCTYPE html>
<!-- order details page -->
<html>
	<head>
		<title>Order details!</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static 'headerstyle.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'detailsstyle.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'albumstyle.css' %}" type="text/css" />
		<link rel="shortcut icon" href="{% static 'images/logo.png' %}">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{% static 'details.js' %}"></script>
		<!-- save to pagenum for the javascript code -->
		<script>
			pagenum = {{ pagenum }};
		</script>
	</head>
	<body>
		{% include "header.html" %}
		<div class="content">
			<h1>Order Details</h1>
			<!-- the fields are validate with the checkfield function -->
			<form method="POST" action="{% url 'PhotoAlbum.views.confirm' %}" onsubmit="return checkfields()" > {% csrf_token %}
				<table>
					<tr>
						<td> <label for="full_name">Full name:</label> </td>
						<td> <input type="text" id="full_name" name="name" /> </td>
					</tr>
					<tr>
						<td> <label for="country">Country:</label>  </td>
						<td> <input type="text" id="country" name="country" /> </td>
					</tr>
					<tr>
						<td> <label for="post_code">Post Code:</label> </td>
						<td> <input type="text" id="post_code" name="postcode" /> </td>
					</tr>
					<tr>
						<td> <label for="address">Address:</label> </td>
						<td> <input type="text" id="address" name="address" /> </td>
					</tr>
					<tr>
						<td> <label for="quantity">Quantity:</label> </td>
						<!-- the sum is calculated everytime the quantity changes -->
						<td> <input type="number" id="quantity" name="quantity" min="1" value="1" onchange="recalculatesum()" /> </td>
					</tr>
					<tr>
						<td> <label for="mail">E-mail:</label> </td>
						<td> <input type="email" id="mail" name="mail" /> </td>
					</tr>
					<tr>
						<td colspan="2"><hr/></td>
					</tr>
					<tr>
						<td> <label>Sum:</label> </td>
						<td> <p id="suminput" >0 €</p> </td>
					</tr>
				</table>
				<input type="hidden" name="sum" id="sum" />
				<input type="button" id="backbutton" value="<< Back" onclick="window.history.back()"/>
				<input type="submit" id="orderalbum" value="Order Album" />
			</form>
			<div id="albumpreview">
				<h2>Preview</h2>
				{% include "publicalbum.html" with actalbum=album %}
			</div>
		</div>
	</body>
</html>