{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>Account settings</title>
		<link rel="stylesheet" href="{% static 'homestyle.css' %}" type="text/css" >
		<link rel="stylesheet" href="{% static 'settingsstyle.css' %}" type="text/css" >
		<link rel="stylesheet" href="{% static 'detailsstyle.css' %}" type="text/css" >
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{% static 'albumcap.js' %}"></script>
	</head>
	<body>
		<div id="albums"> <!--TODO validatation-->
		      <center><img alt="sorry" src="{% static 'images/sorry.jpg' %}" /></center>
		</div>
	</body>
</html>
