{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>Moments</title>
		<link rel="stylesheet" href="{% static 'homestyle.css' %}" type="text/css" >
		<link rel="stylesheet" href="{% static 'headerstyle.css' %}" type="text/css" >
		<link rel="stylesheet" href="{% static 'albumstyle.css' %}" type="text/css" >
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{% static 'albumcap.js' %}"></script>
	</head>
	<body>
		{% include "header.html" %}
		<div id="albums">
			<h1>Your albums</h1>
			<div id="albumcontainer">
				<form id="createnewalbum" method="POST" action="{% url 'PhotoAlbum.views.edit' %}">{% csrf_token %}
					<input type="image" src="{% static 'images/newalbumicon.png' %}" alt="create new album">
					<p>Add new album</p>
				</form>
				<!-- includes all your albums -->
				{% for a in album %}
					{% include "album.html" with actalbum=a %}
				{% endfor %}
			</div>
		</div>
	</body>
</html>