{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>Moments</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{% static 'indexstyle.css' %}" type="text/css" >
		<link rel="shortcut icon" href="{% static 'images/logo.png' %}">
		<script src="//code.jquery.com/jquery-latest.min.js"></script>
		<script src="//unslider.com/unslider.min.js"></script>
		<script src="{% static 'Slider/slideshow.js' %}"></script>
		<script src="{% static 'index.js' %}"></script>
	</head>
	<body>
		<div id="header">
			<div class="content">
				<div id="title"><a href="{% url 'PhotoAlbum.views.index' %}">MOMENTS</a></div>
				<!-- login form -->
				<form method="POST" action="{% url 'PhotoAlbum.views.login' %}"> {% csrf_token %}
					<table id="logintable">
						<tr>
							<td> <label for="loginname">Username</label> </td>
							<td> <label for="loginpasswd">Password</label> </td>
							<td> </td>
						</tr>
						<tr>
							<td> <input id="loginname" name="loginname" type="text"> </td>
							<td> <input id="loginpasswd" name="loginpasswd" type="password"> </td>
							<td> <input type="submit" value="Sign In" class="button"> </td>
						</tr>
						<!--
						<tr>
							<td> <input type="checkbox" id="keep"> <label for="keep">Keep me logged in</label> </td>
							<td> <a href="">Forgot password</a> </td>
							<td> </td>
						</tr>
						-->
					</table>
				</form>
			</div>
		</div>
		<div class="content">
			<!-- includes error messages from django form -->
			{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags %} class="{{message.tags}}" {% endif %}>
						{{ message }}
					</li>
					{% endfor %}
				</ul>
			{% endif %}
			<h1>Welcome to our website!</h1>
			<div id="slideshow">
				<img src="{% static 'Slider/images/1.png' %}" alt="northern" class="above">
				<img src="{% static 'Slider/images/2.png' %}" alt="ny" class="below">
			</div>
			
			<div id="reg">
				<form method="POST" action="{% url 'PhotoAlbum.views.register_user' %}"> {% csrf_token %}
					<h2>Sign Up</h2>
					<p id="taken">Username is already taken</p>
					{{ form|safe }}
					<input type="submit" value="Sign Up">
					<a href="{% url 'socialauth_begin' 'facebook' %}" id="fblogin"><img src="{% static 'images/fb.png' %}" alt="Login with Facebook"/></a>
				</form>
			</div>
		</div>
	</body>
</html>
